
.loginInfoPopup {
  display: none;
}
.block25{
    display: inline-block;
    width: 24%;
}
.bold {
    font-weight: bold;
}
.tc{
    text-align: center;
}
.inbl{
    display: inline-block;
}
.tl{
    text-align: left;
}
.vbot{
    vertical-align: bottom;
}
.f18 {
    font-size: 18px;
}
.f20 {
    font-size: 20px;
}
.pb2{
    padding-bottom: 20px;
}
.pt2{
    padding-top: 20px;
}
.ml4px {
    margin-left: 4px;
}
.backSection{
    border-radius:15px;
    border: 1px solid var(--gray-light-color);
    background-color: var(--gray-light-color);
    margin-bottom: 40px;
}
.loginInfoBlock {
    position: relative;
    padding: 15px 0px 15px 47px;
    display: inline-block;
    box-sizing: border-box;
}

#_INFODIV p:not(:first-child) {
    margin: 15px 0 0;
}

.loginInfoPopupContainer {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 200px auto;
    padding-right: 220px;
}

.loginInfoPopupFree:after,
.loginInfoPopupContact:after {
    display: block;
    content: " ";
    width: 100px;
    height: 100px;
    position: absolute;
    right: 12px;
    top: 3px;
    background-repeat: no-repeat;
    background-image: url("https://one.nbstatic.fr/themes/naturabuy/img/home_banniere1.png");
    background-size: auto 100px;
}

.loginInfoPopupFree:after {
    top: 50px;
    right: 20px;
    background-position: -291px 0px;
}

.loginInfoPopupContact:after {
    top: 22px;
    background-position: -811px 0px;
}

a.loginInfoBlock, a.loginInfoBlock:link {
    color: #4D4D4D;
}

a.loginInfoBlock:hover {
    color: var(--orange-color);
}

.loginInfoBlock:before {
    display: block;
    content: " ";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 3px;
    background-repeat: no-repeat;
}

.loginSaleTable .loginInfoBlock:before {
    background-image: url("https://one.nbstatic.fr/themes/naturabuy/img/home_banniere1.png");
    background-size: auto 40px;
}

.loginSaleTable > span:first-child .loginInfoBlock:before {
    background-position: -116px 0px;
}

.loginSaleTable > span:nth-child(2) .loginInfoBlock:before {
    background-position: -220px 0px;
}

.loginSaleTable > span:nth-child(3) .loginInfoBlock:before {
    background-position: -325px 0px;
}

.loginPurchaseTable .loginInfoBlock:before {
    background-image: url("https://one.nbstatic.fr/themes/naturabuy/img/home_banniere2.png");
    background-size: 45px auto;
    height: 35px;
}

.loginPurchaseTable > span:first-child .loginInfoBlock:before {
    background-position: 3px -60px;
}

.loginPurchaseTable > span:nth-child(2) .loginInfoBlock:before {
    background-position: -4px -92px;
}

.loginPurchaseTable > span:nth-child(3) .loginInfoBlock:before {
    background-position: -4px -126px;
    top: 6px;
}

.loginInfoContainer {
    border-radius: 15px;
    border: 1px solid var(--gray-light-color);
    text-align: center;
    background-color: var(--gray-light-color);
}

.loginInfoHeader {
    font-size: 16px;
    padding: 0 0 10px 0;
    color: #4D4D4D;
    background-color: var(--gray-light-color);
}

.loginSaleTable,
.loginPurchaseTable {
    display: table;
    width: 100%;
    padding: 10px 0 0 0;
    background-color: var(--gray-light-color);
}

.loginSaleTable > span,
.loginPurchaseTable > span {
    display: table-cell;
}

#loginMessage{
    font-size: 18px;
    padding-left: 35px;
    padding-right: 35px;
}
#loginUsername { margin-top: 15px; margin-bottom: 25px; }
#loginPassword { width: 65%; margin-bottom: 25px; }
#pwd_show { width:15%; }
.memoConnection { margin:25px 0px; }
